# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

# local images folder
local-images

# latex
.ps
.log
.aux
.out
.dvi
.bbl
.blg

# C++ build

trdrop_lib/build/*
trdrop_c/build/*
trdrop_v/build/*

#docs
trdrop_lib/apidocs/*

# User specific files

*.suo
*.user
*.useroscache
*.sln.docstates
*.userprefs

# Visual Studio
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# VS Cache
.vs/

# NuGet packages
packages/
